.article{
    margin-top:50px;
    background-color:#fff;
}

@media (max-width:360px){
    .article{
        margin:20px auto;
        max-width:290px;
        padding:10px;
    }
}

@media (max-width:972px){
    .article{
        max-width: 90%;
        margin:auto;
    }
}

.article__header{
    padding:20px;
    font-size:24px;
    margin-bottom:3px;
    border-bottom:3px solid #ccc;
}
