.form{
   max-width:900px;
   display: flex;
   margin:auto;
}


.form__input{
    width:100%;
    margin:auto;
    padding:10px;
    color: #000;
    margin-right:20px;
}


.form__button
{
    width:100%;
    max-width: 150px;
    background-color:teal;
    color:white;
    border:none;
}

.form__button:hover{
    outline:1px solid black;
}

@media(max-width:767px)
{
    .form{
        flex-direction: column;
        width: 100%;
    }
    
    .form__input{
        width:100%;
    }
    .form__button{
        width: 100%;
        max-width: 767px;
        margin-top: 10px;
    }
}