.header {
    margin-top: 25px
}

.header__header {
    font-size: 32px;
    padding:0;
}

@media (max-width:338px){
    .header{
        margin:20px;
    }
}

@media (max-width:972px){
    .header{
        margin:20px;
    }
}