.section{
    max-width: 1000px;
    background-color:white;
    margin-bottom:3px;
    padding:20px;
}

@media (max-width:338px){
    .section{
        max-width: 290px;
        margin:auto;
        padding:10px;
    }
}

@media (max-width:972px){
    .section{
        max-width: 90%;
        margin:auto;
    }
}